#!/usr/bin/env bash

export AZURE_REST_API_REQUESTS_ON_BASH_LOG_LEVEL="INFO"
export AZURE_SUBSCRIPTION_ID=""
export AZURE_SP_APP_ID=""
export AZURE_SP_PASSWORD=""
export AZURE_SP_TENANT=""
export AZURE_SP_ACCESS_TOKEN=""
export AZURE_DATA_EXPLORER_RG_NAME=""
export AZURE_DATA_EXPLORER_CLUSTER_NAME=""
export AZURE_DATA_EXPLORER_PROPERTIES='{"properties":{"trustedExternalTennants":[{"value":"*"}]}}'

