#!/usr/bin/env bash

export AZURE_SUBSCRIPTION_ID=""
export AZURE_SP_APP_ID=""
export AZURE_SP_PASSWORD=""
export AZURE_SP_TENANT=""
export AZURE_SP_ACCESS_TOKEN=""
export AZURE_KUSTO_RG_NAME=""
export AZURE_KUSTO_CLUSTER_NAME=""

